body{
	font-family: 'Raleway', sans-serif;
}

.middle{
	width: 30%;
	margin: 0 auto;
}

table{
	/*display: none;*/
	border-collapse: collapse;
	border-spacing: 0;
	width: 60%; 
	margin: 10px auto;
}

td, th { 
	border: 1px solid #F94036; 
} /* Add borders to cells */

th{
	background-color: rgba(249,64,54,0.4); /* Black w/ opacity */
}

td {
	text-align: center;
}